# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/yml
/motor
/database
/imagen

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.gitignore
.git
.next

# news 
/.npmrc
/.idea
/.github
/.eslintrc.json


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Evitar copiar estos archivos a la imagen
Dockerfile
.dockerignore