apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dev-expert-pricing
  name: pricing-deployment
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: pricing
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pricing
    spec:
      containers:
      - image: 618817091491.dkr.ecr.us-east-1.amazonaws.com/apppreferenciales:1.0.32
        name: pricing
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          limits:
            cpu: "1"
            memory: "256Mi"
          requests:
            cpu: "0.5"
            memory: "50Mi"
        env:
        - name: DB_USER_MYSQL #DB
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: usuario_aurora
        - name: DB_PASS_MYSQL #DB
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: password_aurora
        - name: DB_HOST_MYSQL #DB
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: url_aurora
        - name: DB_NAME_MYSQL #DB
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: nombre_bd_aurora
        - name: DB_PORT_MYSQL #DB
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: puerto_bd_aurora
        - name: SQUEMA_AURORA #DB
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: squema_aurora
        - name: PORT #PORT DESPLIEGUE
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: puerto_despliegue
        - name: KEY_SECRET #AUTH APP
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: auth_app
        - name: AUT_COGNITO_USU #AUTH COGNITO
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: auth_cognito_usu
        - name: AUT_COGNITO_PASS #AUTH COGNITO
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: auth_cognito_pass
        - name: AUT_KNIME_USE #AUTH KNIME
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: auth_knime_usu
        - name: AUT_KNIME_PASS #AUTH KNIME
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: auth_knime_pass
        - name: MAIL_HOST #EMAIL
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: url_mail
        - name: MAIL_PORT #EMAIL
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: puerto_mail
        - name: MAIL_SECURE #EMAIL
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: ssl_tls_mail
        - name: MAIL_USER #EMAIL
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: usuario_mail
        - name: MAIL_PASS #EMAIL
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: password_mail
        - name: MAIL_FROM #EMAIL
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: from_main
        - name: URL_APP #URL APP
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: url_aplicacion
        - name: URL_DOCUMENTOS #URL DOCUMENTOS
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: url_documentos
        - name: URL_HOST_KNIME #URL KNIME
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: url_knime
        - name: URL_PORT_KNIME #URL KNIME
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: puerto_knime
        - name: URL_PATH_KNIME #URL KNIME
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: path_knime
        - name: URL_HOST_COGNITO #URL COGNITO
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: url_cognito
        - name: URL_PATH_COGNITO #URL COGNITO
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: path_cognito
        - name: URL_HOST_PROFILE #URL PROFILE
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: url_profile
        - name: URL_PORT_PROFILE #URL PROFILE
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: puerto_profile
        - name: URL_PATH_PROFILE #URL PROFILE
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: path_profile
        - name: TIMEDOUT_lOGIN #TIMEDOUT
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: timedout_sesiones
        - name: TIMEDOUT_SERVICES #TIMEDOUT
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: timedout_servicios
        - name: TIMEDOUT_KNIME #TIMEDOUT
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: timedout_knime
        - name: NEXT_PUBLIC_INACTIVITY_TIME #SESSION INACTIVITY
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: inactivity_time
        - name: NEXT_PUBLIC_MODAL_DISPLAY_TIME #SESSION INACTIVITY
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: modal_display_time
        - name: NEXT_PUBLIC_SESSION_EXPIRATION_TIME #SESSION INACTIVITY
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: session_expiration_time
        - name: AWS_S3_REGION #BUCKET_S3
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: region_aws
        - name: AWS_S3_BUCKET_NAME #BUCKET_S3
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: nombre_bucket
        - name: AWS_S3_ACCESS_KEY_ID #BUCKET_S3
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: access_key_bucket
        - name: AWS_S3_SECRET_ACCESS_KEY #BUCKET_S3
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: secret_access_bucket
        - name: AWS_S3_PATH #BUCKET_S3
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: path_bucket
        - name: KEYCLOAK_GRANT_TYPE #AUTH KEYCLOAK 
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: keycloak_auth_type
        - name: KEYCLOAK_CLIENT_ID #AUTH KEYCLOAK 
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: keycloak_auth_id
        - name: KEYCLOAK_CLIENT_SECRET #AUTH KEYCLOAK 
          valueFrom:
            secretKeyRef:
              name: pricing-secret
              key: keycloak_auth_secret
        - name: KEYCLOAK_TOKEN_HOST #URL KEYCLOAK
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: keycloak_host
        - name: KEYCLOAK_TOKEN_PORT #URL KEYCLOAK 
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: keycloak_port
        - name: KEYCLOAK_TOKEN_PATH #URL KEYCLOAK
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: keycloak_path
        - name: URL_HOST_CONSULTA_UNICA_DATOS_CLIENTE #URL CONSULTA_UNICA_DATOS_CLIENTE
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: consulta_unica_cliente_host
        - name: URL_PORT_CONSULTA_UNICA_DATOS_CLIENTE #URL CONSULTA_UNICA_DATOS_CLIENTE 
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: consulta_unica_cliente_port
        - name: URL_PATH_CONSULTA_UNICA_DATOS_CLIENTE #URL CONSULTA_UNICA_DATOS_CLIENTE
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: consulta_unica_cliente_path
        - name: URL_HOST_CUENTA_SOBREGIRO #URL CONSULTAR CUENTAS
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: cuenta_sobregiro_host
        - name: URL_PORT_CUENTA_SOBREGIRO #URL CONSULTAR CUENTAS
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: cuenta_sobregiro_port
        - name: URL_PATH_CUENTA_SOBREGIRO #URL CONSULTAR CUENTAS
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: cuenta_sobregiro_path
        - name: URL_HOST_CATALOGO #URL CATALOGOS
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: catalogo_host
        - name: URL_PORT_CATALOGO #URL CATALOGOS
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: catalogo_port
        - name: URL_PATH_CATALOGO #URL CATALOGOS
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: catalogo_path
        - name: URL_HOST_OFICINA_HOMOLOGADA #URL OFICINA HOMOLOGADA
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: oficinaHomologada_host
        - name: URL_PORT_OFICINA_HOMOLOGADA #URL OFICINA HOMOLOGADA
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: oficinaHomologada_port
        - name: URL_PATH_OFICINA_HOMOLOGADA #URL OFICINA HOMOLOGADA
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: oficinaHomologada_path
        - name: CATALOGO_HOMOLOGADO #CATALOGO HOMOLOGADO
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: catalogoHomologado_path
        - name: ORINATINGBANK #header
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: header_orinatingbanck
        - name: CALLBACKURL #header
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: header_callbackurl
        - name: CHANNEL #header
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: header_channel
        - name: PRIORITY #metadata
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: metadata_priority
        - name: SERVICELEVELAGREEMENT #metadata
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: metadata_servicelevel
        - name: PROCESSINGMODE #metadata
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: metadata_processingmode
        - name: APPNAME #clientApp
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: clientapp_appname
        - name: APPVERSION #clientApp
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: clientapp_appversion
        - name: NODE_TLS_REJECT_UNAUTHORIZED #Activar desactivar certificados
          valueFrom:
            configMapKeyRef:
              name: pricing-configmap
              key: tls_unauthorized
        - name: SERVICIO_CORE
          value: "pricing"
        - name: SERVICIO_MEDIACION
          value: "pricing"
        - name: NIVEL_LOG
          value: "3"
        - name: TZ
          value: "America/Bogota"